.whole-card:hover{
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; /* make this whatever you want */
    }

.whole-card {
    background-image: url(https://i.imgur.com/WatfHk5.png) !important;
    background-size: 275% !important;
    box-shadow: 10px 10px 20px black;
    margin-bottom: 10px !important;
}

.cat-pic {
    max-width: 100px;
    max-height: 100px;
}

.img-container {
    margin: 0 auto;
}

.whole-card {
    max-width: 200px;
    height: 275px;
    float: left !important;    
    margin: 20px;
    overflow: hidden;

}

button.delete {
    float: right;
    text-align: center;
}

#leaderboard-card-title{
    text-align: center;
    background-image: url(https://i.imgur.com/oN0mRPY.png) !important;
    background:transparent;
    background-size: 100% !important;
}
#description {
    background-image: url(https://i.imgur.com/oN0mRPY.png) !important;
    background:transparent;
    background-size: 140% !important;

}

#material-icons {
    size: auto !important;
    max-width: 100%;
    
}