.whole-card:hover {
  box-shadow: 10px 10px 20px black;
  box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; /* make this whatever you want */
}

.whole-card {
  /* background-image: url(https://i.imgur.com/WatfHk5.png) !important; */
  box-shadow: 10px 10px 20px black;
  margin-bottom: 10px !important;
  background-size: cover;
  background-repeat: repeat;
  background-size: 10% !important;;
  background-color: transparent;
  color:black;
  
}

.img-container {
  margin: 0 auto;
  background-color: transparent;
}

.whole-card {
  height: 400px !important;
  width: 350px !important;
  float: left !important;
  margin: 20px;
  overflow: hidden;
  
  
}

button.delete {
  float: right;
  text-align: center;
}

#leaderboard-card-title {
  text-align: center;
  background-image: url(https://i.imgur.com/oN0mRPY.png) !important;
  background: transparent !important;
  background-size: 100% !important;
}

#description {
  background: transparent;
  background-size: 140% !important;
  overflow-y: scroll;
  padding-top: 5px;
  padding-bottom: 10px;
  color: black;
  /* overflow: hidden; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
}

#material-icons {
  size: auto !important;
  max-width: 100%;
}

.btn-upvote {
  margin-top: 2%;
  border: #f0a8cc !important;
  background-image: url(https://i.imgur.com/qgy5MCX.png) !important;
  background-repeat: repeat !important;
  background-size: 10% !important;
  color: black !important;
}

.hide {
  display: none;
}

.card-subtitle {
  text-align: center;
}