li {
    margin-top: 30%;
    font-size: 2em;
}

ul {
  list-style-type: none;
}

a {
  color: black;
}

#side-nav {
  /* font-family: 'Modak', cursive; */
  /* font-size: 150%; */
}

.side-nav-item {
  color: black;
  margin-top: 35px !important;
  text-shadow: 2px 2px white;
  font-family: 'milkshake';
}

a {
  text-decoration: none !important;
}

.btn-side-nav {
  background-color: #ffc0c0 !important;
}