#containter {
  background-color: black;
}
.left-nav {
  /* background-color: #5b4342; */
  background-color: #000000;
  padding: 0px !important;
  border: 1px solid #ffc0c0;
}

.content {
  padding: 0 !important;
  margin: 0 0 !important;
  background-color: #5b4342;
  border: 1px solid #ffc0c0;
}

.left-nav-and-content {
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
#leaderboard {
  font-family: "Modak", cursive;
  text-align: center;
}

#searchHead {
  font-family: "Modak", cursive;
}
.jumbotron {
  overflow: hidden;
  padding: 0px !important;
  background: transparent !important;
}
.font1 {
  font-family: "Modak", cursive;
  text-align: center;
  font-size: 86%;
  z-index: 1;
  position: absolute;
  top: 25%;
  left: 15%;
  right: 15%;
  color: white;
}

.font2 {
  font-size: 55% !important;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 20%;
  right: 20%;

  color: white;
}
.card-title {
  font-family: "Modak", cursive;
  
}

.rumbleSubtitle {
  text-align: center;
  font-size: 250%;
  font-family: "Modak", cursive;
}

#gifcatdiv {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  background:black;
  align-content: center;
  
}

.catgifs {
bottom: 10%;
top:10%;
max-height: 50%;
max-width: 20%;
z-index: 1;
background-color: black;
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: .35;
}

.startBtn {
  margin-left: 5% !important;
  margin-top: 0px !important;
  float:right !important;
  border: #f0a8cc !important;
  background-image: url(https://i.imgur.com/qgy5MCX.png) !important;
   background-repeat: repeat;
   background-size: 40%;
}



