.navbar {
    background: transparent;
    /*background-image: url(https://i.imgur.com/9ZRUeCw.png);*/
    text-align: center !important;

}
/*#sign-in {
    float: left !important;
}*/
.catbanner {
    position: relative;
    size: auto !important;
    max-width: 60% !important;
    float: center !important;
    display: inline;
    
}

.eyes {
    position: absolute;
    size: auto !important;
    max-width: 58% !important;
    float: center !important;
    display: inline;
    z-index: 2;
    left: 21%;
    top: 2%;

    animation-name: lookdown;
     animation-delay: 3s;
     animation-duration: 15s;
     animation-iteration-count: infinite ;
     animation-direction: alternate;
     animation-fill-mode: both;
     animation-timing-function: ease-in-out;
}
    
 @keyframes lookdown {
     0%   {left: 21%; top: 5%;}
     3%   {left: 21%; top: 8%;}
     6%   {left: 21%; top:8%;}
     9%   {left: 21%;  top: 8%;}
     12%  {left: 21%; top:8%;}
     15%  {left: 21%;  top: 8%;}
     18%  {left: 21%; top:8%;}
     21%  {left: 21%; top: 8%;}
     24%  {left: 21%; top: 5%;}
     27%  {left: 20.6%; top:2%;}
     30%  {left: 21%; top: 2%;}
     33%  {left: 21.4%; top: 5%;}
     36%  {left: 21%; top: 8%;}
     39%  {left: 20.6%;  top: 8%;}
     42%  {left: 20.6%; top:8%;}
     45%  {left: 20.6%;  top: 8%;}
     48%  {left: 20.6%; top:8%;}
     51%  {left: 20.6%; top: 8%;}
     54%  {left: 21.4%; top: 8%;}
     57%  {left: 20.6%; top:8%;}
     60%  {left: 20.6%; top: 8%;}
     63%  {left: 20.6%; top:8%;}
     66%  {left: 21.4%;  top: 8%;}
     69%  {left: 21.4%; top:8%;}
     72%  {left: 21.4%; top: 8%;}
     75%  {left: 21.4%; top: 8%;}
     78%  {left: 21.4%;  top:8%;}
     81%  {left: 21%; top: 8%;}
     84%  {left: 21%; top: 8%;}
     87%  {left: 21%; top:8%;}
     90%  {left: 21%;  top: 5%;}
     93%  {left: 21%; top:5%;}
     96%  {left: 21%; top: 5%; }
     100% {left: 21.4%;  top:5%;}

     
    }
.overflow-lid {
    position: absolute !important;
    float: center !important;
    display: inline !important;
    overflow: hidden;
    z-index: 4;
    left: 44.9%;
    top: 26.5%;
    width: 11%;
    height: 7%;
    background: transparent;
    transition: height .65s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.6, 0.8);
}

.lids {
    max-width: 96.5% ;
    left:-0.5%;
    top: 15%;
}

.navbar:hover .overflow-lid{
    height:38%
}


.lids {
   position:absolute
}
        
#banner-title {
    margin: auto;
}
