/* myCat and challengerCat rumble pic */
.rumbleCat-pics {
  max-width: 250px;
  max-height: 250px;
  vertical-align: middle;
}
.rumbleHeaders {
  font-size: 36pt;
  font-weight: 100;
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  color: rgb(49, 49, 49);
  margin-top: 2%;
}
.versus {
  font-size: 18pt;
  padding: 2%;
  margin: 2%;
  font-weight: bold;
  text-align: center;
  font-family: "Indie Flower", cursive;
  color: rgb(49, 49, 49);
}
.rumbleCard {
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-style: oblique;
  font-size: 24pt;
}

.rumble-img-container {
  margin: auto;
  text-align: center;
}

.whole-card {
  width: auto;
  float: initial;
  margin: 1%;
  overflow: hidden;
}

.basicCard-subtitle {
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}

.RumblersCard {
  background: #fff;
  border-radius: 2px;
  height: auto;
  width: auto;
  margin: 0.25rem;
  padding: 0.5rem;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: center;
}

.welcomeMsg {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  text-align: center;
  font-family: "Lakki+Reddy", cursive;
  font-size: 26pt;
  font-weight: bold;
  color: rgb(49, 49, 49);
  padding-top: 1.2%;
  padding-left: 1.2%;
  padding-right: 1.2%;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-content: flex-start;
  background-color: rgba(194, 105, 4, 0.781);
  line-height: 110%;
}

.gameMsg {
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-style: oblique;
  font-size: 28pt;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  color: rgba(255, 238, 0, 0.952);
}

.myCenteredCol {
  text-align: center;
}

.symbols {
  font-family: "Barriecito", cursive;
  color: red;
  font-size: 24pt;
  align-content: center;
  margin: 2%;
}

.startBtn {
  margin-top: 5%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
