.rumbleCat-pics {
  max-width: 200px;
  max-height: 200px;
  vertical-align: middle;
}
.rumbleHeaders {
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
}

.rumbleCard {
  margin: auto;
  padding: 0.5rem;
  text-align: center;
  font-style: oblique;
  font-size: 24pt;
}

.rumble-img-container {
  margin: auto;
  text-align: center;
}

.whole-card {
  width: auto;
  float: initial;
  margin: 1%;
  overflow: hidden;
}

.basicCard-subtitle {
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}

.basicRumbleCard {
  background: #fff;
  border-radius: 2px;
  height: auto;
  width: auto;
  margin: 0.25rem;
  padding: 0.5rem;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}
